{% extends "admin/navbaradmin.html" %}
{% block content %}
<style>
    .admin-page {
        padding: 20px;
        margin-left: 25%; 
    }

    h1 {
        color: #343a40; 
    }

    p {
        font-size: 16px;
        line-height: 1.6;
        color: #555;
    }
</style>

<div class='container-fluid'>
    <div class="admin-page">
        <center><h1>Welcome to the Admin Page</h1></center>
        
        <h1>As an admin, you have the following abilities:</h1>


            <h3>Add Category</h3>
            <h3>Add Products</h3>
            <h3>View Products</h3>
            <h3>View Users</h3>
            <h3>Delete Users</h3>


    </div>
</div>
{% endblock %}
