{% include "navbarhome.html" %}
{% load static %}
{% block content %}
<style>

</style>
<div class="container mt-4">
    <div class="card" style="box-shadow:1px 2px 2px 1px #33a6f9;">
        <div class="card-body">
          <h3 class="card-title text-primary">Why Us!</h3>
          <h6 class="card-subtitle mb-2 ">Curated Collections for Every Occasion:</h6>
          <p class="card-text text-muted">Whether you're dressing the little ones, stepping out for a night on the town, or seeking sophisticated looks for the workplace, our curated collections have you covered.</p>
          <h6 class="card-subtitle mb-2">Quality Craftsmanship, Every Stitch Matters:</h6>
          <p class="card-text  text-muted">Our commitment to quality is woven into the fabric of every garment. Each piece undergoes meticulous craftsmanship, ensuring durability and style that withstands the test of time.</p>
          <h6 class="card-subtitle mb-2 ">Express Your Unique Style:</h6>
          <p class="card-text text-muted">Embrace your individuality with our interactive online platform. Design your own pieces, mix and match styles, and let your creativity shine.</p>
          <h6 class="card-subtitle mb-2">Fashion Tech for the Modern Era:</h6>
          <p class="card-text  text-muted"> Experience the fusion of fashion and technology with our innovative solutions. From personalized styling recommendations to a seamless online shopping experience.</p>
          <h6 class="card-subtitle mb-2 ">Exceptional Customer Service:</h6>
          <p class="card-text text-muted">Your satisfaction is our priority. Our dedicated customer service team is here to assist you at every step, ensuring a seamless and enjoyable shopping experience.</p>  
        </div>
      </div>
  </div>
 

  <div class="container">
    <center><button type="button" class="btn  mt-4" data-toggle="modal" data-target="#exampleModalScrollable" style="background-color: blanchedalmond;">
      Terms & Conditions
    </button></center>
    
  
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Terms & Conditions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Welcome to TrendHaven! By accessing and using our website, you agree to comply with and be bound by the following terms and conditions:</p>
        
            <h6>1. Acceptance of Terms</h6>
            <p>By using our website, you agree to the terms and conditions outlined herein. If you do not agree with any part of these terms, please refrain from using our services.</p>
        
            <h6>2. User Conduct</h6>
            <p>When using our website, you agree not to engage in any activities that may disrupt or interfere with the proper functioning of the site. This includes but is not limited to the use of malicious software, hacking, or any activity that violates applicable laws.</p>
        
            <h6>3. Privacy Policy</h6>
            <p>Your use of TrendHaven is also governed by our Privacy Policy. Please review our Privacy Policy to understand how we collect, use, and protect your personal information.</p>
        
            <h6>4. Intellectual Property</h6>
            <p>All content on this website, including but not limited to text, graphics, logos, images, and software, is the property of TrendHaven and is protected by intellectual property laws. Unauthorized use of any content may violate copyright, trademark, and other laws.</p>
        
            <h6>5. Product Information</h6>
            <p>We strive to provide accurate and up-to-date product information. However, we do not warrant the accuracy, completeness, or reliability of any product descriptions or information on our website. Prices and availability are subject to change without notice.</p>
        
            <h6>6. Disclaimer of Liability</h6>
            <p>TrendHaven is not liable for any direct, indirect, incidental, consequential, or punitive damages arising out of your access to or use of our website. Use our website at your own risk.</p>
        
            <h6>7. Changes to Terms</h6>
            <p>TrendHaven reserves the right to update or modify these terms and conditions at any time without prior notice. It is your responsibility to review these terms periodically for changes.</p>
        
            <p>By using TrendHaven, you agree to these terms and conditions. If you have any questions or concerns, please contact us at [jannathulfirdouseinsta@gmail.com].</p>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}

{% include "footer.html" %}